{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:node/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "react"],
  "settings": {
    "react": { "pragma": "h" }
  },
  "rules": {
    "@typescript-eslint/camelcase": "off"
  }
}
