{
  "plugins": [
    ["import-pika-web", { "dir": "./dist/web_modules" }],
    ["module-resolver", {
    "root": ["."],
    "alias": {
        "react": "preact-compat",
        "react-dom": "preact-compat"
      }
    }]
  ]
}
