<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lit Snowpack</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <meta name="Description" content="Lit + Snowpack starter">
        <style>
            body {
                font-family: 'Benton Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
                margin: 2em;
            }

            h1 {
                font-style: italic;
                color: #373fff;
            }
        </style>
    </head>
    <body>
        <h1>Snowpack - lit-html + lit-element starter</h1>
        <hr>

        <lit-snowpack></lit-snowpack>
        <script type="module" src="./js/index.js"></script>
    </body>
</html>