<!DOCTYPE html>
<html lang="en">
<title>pika-web-vue-httpvueloader</title>
<script type="module" src="./js/index.js"></script>
<head>
    <style>
        body {
            font-family: 'Benton Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
            margin: 2em;
        }

        h1 {
            font-style: italic;
            color: #373fff;
        }
    </style>
</head>
<body>

  <div class="glitchButton" style="float: right"></div>
  <script src="https://button.glitch.me/button.js"></script>
  <h1>@pika/web - lit-html + lit-element Example</h1>
  <hr>

  <app-lit></app-lit>
</body>

</html>