{
  "plugins": [
        ["import-pika-web", { "dir": "./dist/web_modules" }],
        ["@babel/plugin-transform-react-jsx", { "pragma":"h" }],
        ["@babel/plugin-proposal-object-rest-spread"],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ],
    "presets": [
        "@babel/react",
        "@babel/preset-typescript",
        ["@babel/preset-env", { 
            "targets": {
                "esmodules": true
            },
            "modules": "false",
            "useBuiltIns": false
        }]
    ]
}
